@import "../../styles/colors.css";
@import "../../styles/layout.css";
@import "../../styles/typography.css";

.content {
  max-width: $six-columns;
}

.description {
  margin-top: $spacing-xSmall;

  color: $color-navy-blue;
}

.button {
  margin-top: $spacing-xSmall;
}
