{
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "max-nesting-depth": 3,
    "indentation": 2,
    "order/order": [
      "custom-properties",
      "declarations"
    ],
    "order/properties-order": [
      {
        emptyLineBefore: "never",
        properties: [
          "composes",
          "content",
          "counter-increment",
          "counter-reset",
          "counter-set",
          "quotes"
        ]
      },
      {
        emptyLineBefore: "always",
        properties: [
          "position",
          "top",
          "right",
          "bottom",
          "left",
          "offset-before",
          "offset-after",
          "offset-start",
          "offset-end",
          "z-index"
        ]
      },
      {
        emptyLineBefore: "always",
        properties: [
          "align-self",
          "order",
          "flex",
          "flex-grow",
          "flex-shrink",
          "flex-basis",
          "display",
          "flex-flow",
          "flex-direction",
          "flex-wrap",
          "align-content",
          "align-items",
          "justify-content",
          "box-sizing",
          "visibility",
          "float",
          "clear",
          "width",
          "height",
          "max-width",
          "max-height",
          "min-width",
          "min-height",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "overflow",
          "overflow-x",
          "overflow-x",
          "resize"
        ]
      },
      {
        emptyLineBefore: "always",
        properties: [
          "background",
          "background-attachment",
          "background-color",
          "background-image",
          "background-position",
          "background-repeat",
          "background-size",
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-collapse",
          "border-color",
          "border-top-color",
          "border-right-color",
          "border-bottom-color",
          "border-left-color",
          "border-image",
          "border-spacing",
          "border-style",
          "border-top-style",
          "border-right-style",
          "border-bottom-style",
          "border-left-style",
          "border-width",
          "border-top-width",
          "border-right-width",
          "border-bottom-width",
          "border-left-width",
          "border-radius",
          "border-top-right-radius",
          "border-bottom-right-radius",
          "border-bottom-left-radius",
          "border-top-left-radius",
          "border-radius-topright",
          "border-radius-bottomright",
          "border-radius-bottomleft",
          "border-radius-topleft",
          "box-shadow",
          "caret-color",
          "clip",
          "color",
          "cursor",
          "fill",
          "list-style",
          "list-style-image",
          "list-style-position",
          "list-style-type",
          "marker-side",
          "opacity",
          "outline",
          "outline-offset",
          "pointer-events",
          "stroke"
        ]
      },
      {
        emptyLineBefore: "always",
        properties: [
          "alignment-adjust",
          "alignment-baseline",
          "baseline-shift",
          "dominant-baseline",
          "drop-initial-after-adjust",
          "drop-initial-after-align",
          "drop-initial-before-adjust",
          "drop-initial-before-align",
          "drop-initial-size",
          "drop-initial-value",
          "font",
          "font-family",
          "font-feature-settings",
          "font-kerning",
          "font-language-override",
          "font-size",
          "font-size-adjust",
          "font-smoothing",
          "font-stretch",
          "font-style",
          "font-synthesis",
          "font-variant",
          "font-variant-alternates",
          "font-variant-caps",
          "font-variant-east-asian",
          "font-variant-ligatures",
          "font-variant-numeric",
          "font-variant-position",
          "font-weight",
          "hanging-punctuation",
          "hyphens",
          "inline-box-align",
          "letter-spacing",
          "line-break",
          "line-height",
          "line-stacking",
          "line-stacking-ruby",
          "line-stacking-shift",
          "line-stacking-strategy",
          "overflow-wrap",
          "tab-size",
          "text-align",
          "text-align-last",
          "text-decoration",
          "text-emphasis",
          "text-height",
          "text-indent",
          "text-justify",
          "text-overflow",
          "text-rendering",
          "text-shadow",
          "text-size-adjust",
          "text-transform",
          "vertical-align",
          "white-space",
          "word-break",
          "word-spacing",
          "word-wrap"
        ]
      },
      {
        emptyLineBefore: "always",
        properties: [
          "backface-visibility",
          "perspective",
          "perspective-origin",
          "transform",
          "transform-origin",
          "transform-style"
        ]
      },
      {
        emptyLineBefore: "always",
        properties: [
          "animation",
          "animation-delay",
          "animation-duration",
          "animation-iteration-count",
          "animation-name",
          "animation-play-state",
          "animation-timing-function",
          "animation-fill-mode",
          "transition",
          "transition-delay",
          "transition-duration",
          "transition-property",
          "transition-timing-function"
        ]
      },
    ],
    "block-opening-brace-space-before": "always",
  }
}
