@import "../../styles/colors.css";
@import "../../styles/layout.css";
@import "../../styles/typography.css";
@import "../../styles/theming.css";

.root {
  position: relative;
}

.content {
  position: relative;

  z-index: 1;

  display: inline-block;

  padding: $spacing-xxSmall $spacing-medium;

  background: white;
  border: $border-width-default solid $color-orange;

  color: $color-navy-blue;

  font-family: $font-family-mono;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold;
  line-height: $line-height-medium;
  text-align: left;
  text-decoration: none;
}

.shadow {
  content: "";

  position: absolute;

  top: calc(-50% - 7px);
  left: $border-width-default;

  z-index: 0;

  display: block;

  width: 100%;
  height: calc(100% + $border-width-default * 3);

  padding: $spacing-xxSmall 0;

  background: $color-light-blue;

  transition: transform 0.3s ease-in-out;
}

.root:hover .shadow {
  transform: translate(-$border-width-default, -$border-width-default);
}

.subLabel {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-regular;
}
