@import "../../styles/layout.css";
@import "../../styles/theming.css";

.root {
  width: $thirteen-columns;
  padding: $spacing-large $spacing-xLarge;
  padding-left: calc($column + 2 * $gutter);
  margin-left: calc(-$column - 2 * $gutter);

  background: white;
  border: $border-width-default solid $color-orange;
}
