.root {
  margin-bottom: 1.45rem;

  background-color: rebeccapurple;
}

.inner {
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  margin: 0 auto;
}

.link {
  color: white;

  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 20px;
}
