@import "../../styles/typography.css";
@import "../../styles/colors.css";
@import "../../styles/theming.css";
@import "../../styles/layout.css";

$asterisk-size: 20px;
$asterisk-offset: calc(($asterisk-size + $border-width-default) / -2);

.root {
  position: relative;

  display: grid;
  grid-row-gap: $spacing-xxxSmall;

  padding: $spacing-xSmall;

  border: $border-width-default solid $border-color-default;
}

.asterisk {
  position: absolute;

  transform: translate($asterisk-offset, $asterisk-offset);
}

.title {
  font-family: $font-family-mono;
  font-weight: $font-weight-bold;
}
