@import "../../styles/typography.css";
@import "../../styles/colors.css";
@import "../../styles/theming.css";

.root {
  border-bottom: $border-width-small solid $border-color-default;

  color: $color-orange;
  cursor: pointer;

  font-family: $font-family-mono;
  font-weight: $font-weight-bold;

  text-decoration: none;
}
